<div class="list card">

  <div class="item item-avatar" style='padding-bottom: 5px;'>
    <img src="mcfly.jpg" alt='Profile Photo'>
    <div class='row no-padding'>
      <span class='col col-50 no-margin transformation-username'>Username</span>
      <!-- <p>November 05, 1955</p> -->
      <div class="card-upper-icons col col-50">
        <a class="tab-item" href="#">
          <i class="icon ion-ios-glasses"></i>
          Follow
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-star"></i>
          Favorite
        </a>
      </div>
    </div>
  </div>

  <div class="item item-body">
    <img class="full-image" src="delorean.jpg" alt='Transformation Image'>
    <p>
      Note
    </p>
    <p>
      <a href="#" class="subdued">1 Favorites</a>
      <!-- <a href="#" class="subdued">5 Comments</a> -->
    </p>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon fa fa-film"></i>
      Transformation
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-camera"></i>
      Picture
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-person"></i>
      Profile
    </a>
  </div>

</div>