/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.gray-back {
  background-color: #444;
}

.float-right {
  float: right;
}

.card-upper-icons {
  display: inline-block;
  float: right;
  padding: 0;

  a {
    display: inline-block;
    float:right;
    margin: 0 20px 0 20px;
  }
}

.transformation-card-username {
  font-weight: 200;
  font-size: 1.2em;
  padding-top: 10px;
}

.transformation-card-title {
  font-size: 1.4em;
  margin-top: 5px !important;
  padding: 0 20px 6px 20px !important;
  margin-left: -72px;
  width: inherit;

  span {
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: inherit;
  }
}
